---
layout: default
title: Walking in Sober Boots
permalink: /soberboots/
pagination:
  enabled: true
---
<p class="blog-intro">A recovery blog, 2012&ndash;2024 &mdash; archived. Browse
  <a href="{{ '/soberboots/categories/' | relative_url }}">categories</a> or
  <a href="{{ '/soberboots/tags/' | relative_url }}">tags</a>.</p>

<ul class="post-list">
  {% for post in paginator.posts %}
  <li>
    <span class="post-date">{{ post.date | date: "%Y-%m-%d" }}</span>
    <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
  </li>
  {% endfor %}
</ul>

<nav class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | relative_url }}">&larr; Newer</a>
  {% else %}<span></span>{% endif %}
  <span>Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | relative_url }}">Older &rarr;</a>
  {% else %}<span></span>{% endif %}
</nav>
